body {
  box-sizing: border-box;
}

.bag {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url(/img/bag.png) center no-repeat;
  background-size: 80%;
}

.health-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-bar {
  width: 300px;
  border: 1px solid black;
  height: 30px;
}

.health-bar div {
  height: 30px;
  background-color: crimson;
}

.health-bar-container p {
  padding-left: 5px;
  width: 40px;
}

.controls {
  width: 120px;
  margin: 0 auto;
}

.burst {
  background: url(/img/bag-burst.png) center no-repeat;
  background-size: 80%;
}